<div>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag login_url do %>
    <fieldset>
      <legend>Please Log In to see the full functionality!</legend>

      <div>
        <%= label_tag :user_name, 'User Name' %>
        <%= text_field_tag :user_name, params[:user_name] %>
      </div>

      <div>
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password, params[:password] %>
      </div>


      <div>
        <%= submit_tag "Log in" %>
      </div>

    </fieldset>

  <% end %>

</div>
