<h1>Registered Users!</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
    <td><%= user.email %></td>
    <td><%= user.age %></td>
    <td><%= user.description %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Delete my account', user, method: :delete, data: { confirm: 'Are you sure?' } if session[:user] == user %></td>
  </tr>
<% end %>
</table>

