<p id="notice"><%= notice %></p>
<h1>User Details for <%= @user.user_name %></h1>
<div>
  <b>Email:</b>
  <%= @user.email %>
</div>

<div>
  <b>Age:</b>
  <%= @user.age %>
</div>

<div>
  <b>Description:</b>
  <%= @user.description %>
</div>

<div>
  <h1>Available Books</h1>
  <ul id="books">
    <% @user.books.each do |book| %>
      <li><%= book.title %>
        <% if book.author? %>
          <%= "("+book.author+")" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %>
