<!DOCTYPE html>
<html>
<head>
  <title>BookexchangeSqlite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to(image_tag('logo.png'), url_for(action: 'show', controller: 'page', param: 'home')) %>
  <div id='header'>Books Exchange Example Project</div>
  <div class='loginout'>
  <% if session[:user_id] %>
    <%= link_to 'Logout', logout_url, method: :delete %>
  <% else %>
    <%= link_to 'Login', login_url %>
    <div class='registerlink'>
      <%= link_to 'Register', new_user_path %> 
    </div>
  <% end %>
  </div>


  <%= yield %>

</body>
</html>
